@model ProductViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Product Detials";
   
}


<div>
   Product Name:@Model.Product.Name
</div>

<div>
   Product Price:@Model.Product.Price
</div>

<div>
    Ordered Date:@Model.OrderedDate
</div>

<div>
    Buyers Phone No:@Model.Buyer_phone
</div>
<div>
    BuyerName:@Model.Product.Price
</div>
