@model IEnumerable<YegnaGebiyaSystem.Models.Product>
@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About us Page";
}

<center><h2>/ About Yegna Gebiya shop</h2></center>

<div class="about">
    <h1>
        YegnaGebiya IS AN AFRICAN E-COMMERCE MARKETPLACE
        THAT PROVIDES A PODIUM FOR AFRICAN ENTREPRENEURS
        TO SELL THEIR MADE IN AFRICA PRODUCTS TO THE WORLD
        WHILST CONNECTING GLOBAL BRANDS WITH EMERGING AFRICAN CONSUMERS.
    </h1>
    <p>
        YegnaGebiya offers a range of vendor services and tools that help African entrepreneurs,small businesses, and individual sellers start, grow and manage their businesses. YegnaGebiya aspire to create opportunities for African entrepreneurs who have an economic disadvantage or marginalised by the conventional western trading system.
        YegnaGebiya community includes creative African entrepreneurs who sell on our platform, intrigued consumers looking to buy amazing African products from retailers and manufacturers who have partnered with us and help grow businesses in Africa. YegnaGebiya provides a podium for African businesses to trade fairly in ways that build a more enjoyable and lasting world. YegnaGebiya is committed to strengthen
        communities and empower the African youth and build a better Africa.
    </p>
    <img src="~/images/africa.jpg" alt="AFRICA" />
    <p>
        YegnaGebiya aspires to close the gap between western development and Africa by providing the latest global trends (i.e. fashion, technology, entertainment, lifestyle etc.)
        that are up to western quality and standard to emerging African customers.
    </p>
    <img src="~/images/brands.jpg" alt="BRANDS" id="brand" />
</div>
<div><img src="~/images/values2.png" alt="values 2" id="value2" /></div>
<div class="mission">
    <h3>OUR MISSION IS TO CREATE AN ONLINE PLATFORM WHERE AFRICA AND REST OF THE WORLD CAN TRADE</h3>
    <img src="mission.jpg" alt="mission" id="msvs" />
    <h3>OUR VISION IS TO CREATE A TRUSTED ONLINE MARKETPLACE WHERE OUR CUSTOMERS CAN FIND AND BUY ANYTHING WHILE ENABLING AFRICAN ENTREPRENEURS TO SHOWCASE THEIR PRODUCTS.</h3>
</div>