@model IEnumerable<YegnaGebiyaSystem.Models.Product>
@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact us Page";
}

<div>

    <h3>Contact us</h3><br>

    <h4>Email  : maya@gmail.com</h4>
    <h4>Address  : Addis Ababa</h4>
    <h4>phone  : 0948034566</h4>
</div>